@import '~@material/react-top-app-bar/dist/top-app-bar.css';
@import '~@material/react-material-icon/dist/material-icon.css';
@import '~@material/react-drawer/dist/drawer.css';
@import '~@material/react-list/dist/list.css';

.mdc-top-app-bar__title {
  a {
    color: white;
    text-decoration: none;
  }
}

.mdc-drawer {
  .mdc-list {
    a {
      text-decoration: none;
    }
  }
}
